.layoutNav {
  background-color: #588157;
  color: #F0EAD2;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  position: sticky;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 450px) {
  .layoutNav {
    justify-content: center;
  }
}

.projectName {
  color: #31572C;
  text-align: center;
  margin-top: 300px;
}