.layoutNav {
  background-color: #FEFBD8;
  color: #42202f;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  position: sticky;
  /* width: 100%; */
}

@media screen and (max-width: 450px) {
  .layoutNav {
    justify-content: center;
  }
}

.projectName {
  color: #FEFBD8;
  text-align: center;
  /* background-color: red; */
  /* transform: translateY(50%); */
}