.header {
    /* width: 100%; */
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    align-items: center;
    padding: 10px 20px;
    background-color: #588157; 
    color: #F0EAD2; 
    border-radius: 15px;
    font-family: 'Arial', sans-serif; 
    /* font-size: 20px; */
    font-weight: bold;
    /* box-sizing: border-box;  */
}

.body {
     width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
    max-height: 400px;
    padding: 10px; 
    box-sizing: border-box;
}


.row {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}


.divv {
    display: flex;
    justify-content: space-around;
    width: 100%; 
}

.divv p {
    text-align: center;
    width: 100%; 
    font-size: 16px; 
    color: #432818; 
}


.fetchedResults {
    box-sizing: border-box;
    background-color: #F0EAD2;
    color: #432818;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    padding: 20px;
    /* width: 80%; */
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* overflow-x: auto; */
}
@media screen and (max-width: 768px) {
    .fetchedResults {
        width: 100%;
    }
}

.fetchedResults table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}


.fetchedResults th {
    padding: 12px;
    text-align: center;
    font-size: 18px;
    border-bottom: 2px solid #432818;
}

.fetchedResults td {
    padding: 12px;
    border-bottom: 1px solid #A68A64;
    font-size: 16px;
    text-align: center;
}

.fetchedResults tbody tr:nth-child(even) {
    background-color: #EADBC8;
}

.fetchedResults tbody tr:hover {
    background-color: #D4A373;
    color: #fff;
}


