.formInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #432818;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.inputRow {
    display: flex;
    gap: 5px;
    align-items: center;

}

@media screen and (max-width: 500px) {
    .inputRow {
        flex-direction: column;
    }
}

.formInput input {
    padding: 10px;
    background: #F0EAD2;
    border-radius: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #132A13;

}

.formInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #432818;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
}


.formInput select {
    padding: 10px;
    background: #F0EAD2;
    border-radius: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    max-width: 300px;
    color: #132A13;
    border: 2px solid #6C584C;
    transition: all 0.3s ease;
}

.formInput button {
    padding: 5px;
    background: #588157;
    border-radius: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #F0EAD2;

}